{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
<!-- <div class="container"> -->
<div style=padding-top:120px;></div>
<div id="projo-body" style="overflow-x: hidden;">
    <div class="row ">
        <div class="col-md-1"></div>
        <div class="col-md-4">
            <img class="img-fluid"
                src="https://images.unsplash.com/photo-1488751045188-3c55bbf9a3fa?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80"
                alt="pic">
        </div>
        <div class="col-md-4">
            <div class="card bg-transparent">
                <div class="card-header">
                    <h3><b><u>Assign tasks to employees.</u></b></h3>
                </div>
                <div class="card-body">
                    <form action="{% url 'assign_task' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        Due on:
                        <input style="margin-bottom: 40px;" type="date" name="due_on" id="calendar"><br>
                        <button type="submit" class="btn btn-success" style="margin-left: 10%;">Assign Task</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>
{% endblock %}